RepositoryPatternAPP/bin/
RepositoryPatternAPP/obj/
RepositoryPatternAPP/bin/Debug/
RepositoryPatternAPP/.git/
RepositoryPattern/bin/
RepositoryPattern/obj/
RepositoryPattern/bin/Debug/
RepositoryPattern/.git/